.about-us {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-us__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $heading;
  margin: 70px 0 30px;

  @media (min-width: 768px) {
    margin: 72px 0 0;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 30px;
    margin: 151px 0 46px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    // padding: 28px 0 0 0;
    padding: 27px 61px 0;
  }

  @media (min-width: 1024px) {
    padding: 0;
    justify-content: space-between;
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
  }
}

.about-us__list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 37px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.about-us__text-number {
  color: $background-btn;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.2727270126342773px;
}

.about-us__text {
  max-width: 263px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 17px 0 0 0;

  @media (min-width: 768px) {
    font-size: 22px;
    margin: 19px 0 39px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
    margin: 18px 0 39px 0;
  }
}
