.bikes {
  background-color: $grey;
  min-height: 1319px;

  @media (min-width: 768px) {
    min-height: 949px;
    width: 100%;
  }

  @media (min-width: 910px) {
    min-height: 550px;
  }

  @media (min-width: 1024px) {
    min-height: 1038px;
  }
}

.bikes__heading {
  font-size: 24px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $heading;
  padding: 50px 0 30px;
  margin: 36px 0 0;

  @media (min-width: 768px) {
    margin: 27px 0 0;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 30px;
    margin: 111px 0 0;
    padding: 152px 0 40px;
  }

  @media (min-width: 1440px) {
    padding: 152px 0 0 0;
  }
}

.bikes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    align-items: flex-start;
  }
}

.bikes__list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 320px;
  width: 100%;
  position: relative;

  @media (min-width: 1024px) {
    max-width: 402px;
  }
}

.bikes__list-item--road {
  &::after {
    content: "";
    width: 127px;
    height: 127px;
    display: block;
    background-image: url("../img/background-road-bike.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 64px;
    left: 0;
    z-index: 1;

    @media (min-width: 768px) {
      bottom: 76px;
      left: -11px;
    }

    @media (min-width: 1024px) {
      width: 180px;
      height: 180px;
      background-size: 180px 180px;
      bottom: 220px;
      left: -20px;
    }
  }

  & picture {
    z-index: 2;
  }
}

.bikes__list-item--road img {
  z-index: 2;

  @media (min-width: 1440px) {
    margin: 60px 0 0 20px;
  }
}

.bikes__list-item--road p {
  @media (min-width: 1440px) {
    padding: 15px 0 0 15px;
  }
}

.bikes__list-item--mountains {
  @media (min-width: 1440px) {
    &::before {
      content: "";
      width: 47px;
      height: 47px;
      display: block;
      background-image: url("../img/background-mountains-bike.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 70px;
      left: 10px;
    }

    &::after {
      content: "";
      width: 47px;
      height: 47px;
      display: block;
      background-image: url("../img/background-mountains-bike.svg");
      background-repeat: no-repeat;
      position: absolute;
      bottom: 80px;
      right: 8px;
    }
  }
}

.bikes__list-item--mountains img {
  @media (min-width: 1440px) {
    margin: 90px 0 0 0;
  }
}

.bikes__list-item--child {
  &::before {
    content: "";
    width: 68px;
    height: 68px;
    display: block;
    position: absolute;
    top: -20px;
    right: 10px;
    background-image: url("../img/background-child-bike.svg");
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      right: 0;
    }

    @media (min-width: 1024px) {
      top: -20px;
      right: 10px;
    }

    @media (min-width: 1440px) {
      width: 96px;
      height: 96px;
      background-size: 96px 96px;
      top: 18px;
      right: 4px;
    }
  }
}

.bikes__list-item--child img {
  @media (min-width: 1440px) {
    margin: 49px 20px 0 0;
  }
}

.bikes__list-item--child p {
  @media (min-width: 1440px) {
    padding: 16px 24px 0 0;
  }
}

.bikes__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 17px 0 40px;
  margin: 0;
  z-index: 2;

  @media (min-width: 768px) {
    padding: 13px 0 50px;
  }
}

.bikes__road-bike-img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 503px;
  }
}

.bikes__mountains-bike-img {
  object-fit: cover;
  border-radius: 10px;
  width: 270px;
  height: 300px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 503px;
  }

  @media (min-width: 1440px) {
    width: 342px;
    height: 566px;
  }
}

.bikes__child-bike-img {
  object-fit: cover;
  border-radius: 10px;
  width: 270px;
  height: 300px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 513px;
  }
}
