.bikes {
  background-color: $grey;
  min-height: 1319px;

  @media (min-width: 768px) {
    min-height: 949px;
    width: 100%;
  }

  @media (min-width: 910px) {
    min-height: 550px;
  }

  @media (min-width: 1024px) {
    min-height: 1038px;
  }
}

.bikes__heading {
  font-size: 24px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $heading;
  padding: 50px 0 30px;
  margin: 36px 0 0;

  @media (min-width: 768px) {
    margin: 27px 0 0;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 30px;
    margin: 111px 0 0;
    padding: 152px 0 59px;
  }
}

.bikes__flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 910px) {
    margin: 0 25px;
  }

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.bikes__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bikes__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
}

.bikes__text-road-bike {
  margin: -11px 0 41px;

  @media (min-width: 768px) {
    margin: -11px 0 50px;
  }
}

.bikes__text-mountains-bike {
  margin: 15px 0 42px;

  @media (min-width: 768px) {
    margin: 15px 0 0;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    margin: 20px 0 30px 0;
  }

  @media (min-width: 1098px) {
    padding-right: 57px;
  }
}

.bikes__text-child-bike {
  margin: 16px 0 0;

  @media (min-width: 1024px) and (max-width: 1439px) {
    margin: 20px 0 30px 0;
  }

  @media (min-width: 1440px) {
    padding: 0 70px 0 0;
  }
}

.bikes__road-bike-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/background-road-bike.svg");
  background-repeat: no-repeat;
  background-position: 0 200px;
  padding: 0 0 27px 0;
  width: 320px;

  @media (min-width: 768px) {
    width: 340px;
  }

  @media (min-width: 1024px) {
    width: 402px;
    background-size: 180px 180px;
    justify-content: flex-end;
    margin-right: 56px;
    background-position-y: 156px;
  }
}

.bikes__road-bike-img {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 503px;
  }
}

.bikes__mountains-bike-container {
  position: relative;
  width: 320px;
  text-align: center;

  @media (min-width: 1098px) {
    width: 384px;
    text-align: left;
    padding: 0;
    margin: 0 11px 0 0;
  }

  @media (min-width: 1440px) {
    padding: 29px 0 0 0;
  }
}

.bikes__mountains-bike-img {
  object-fit: cover;
  border-radius: 10px;
  width: 270px;
  height: 300px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 503px;
  }

  @media (min-width: 1440px) {
    width: 342px;
    height: 566px;
  }
}

.bikes__background-top {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: absolute;
    top: 11px;
    left: -20px;
  }
}

.bikes__background-bottom {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: absolute;
    bottom: -18px;
    right: 21px;
  }
}

.bikes__child-bike-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;

  @media (min-width: 1440px) {
    width: 402px;
    justify-content: flex-start;
    margin: -8px 6px 0 0;
  }
}

.bikes__child-bike-img {
  object-fit: cover;
  border-radius: 10px;
  width: 270px;
  height: 300px;

  @media (min-width: 1024px) {
    width: 342px;
    height: 513px;
  }
}

.bikes__child-bike-background {
  position: absolute;
  top: -20px;
  right: 11px;

  @media (min-width: 768px) {
    right: 0;
  }

  @media (min-width: 1440px) {
    width: 95px;
    height: 95px;
    top: -34px;
    right: 25px;
  }
}
