.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 151px;

  @media (min-width: 330px) {
    align-items: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin: 0 105px;
    min-height: auto;
  }

  @media (min-width: 1024px) {
    max-width: 546px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.footer__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: rgba($black, 0.5%);

  &:hover {
    color: $hover;
  }

  &:active {
    color: $background-btn;
  }
}

.footer__menu--email {
  margin: 31px 0 22px 71px;

  @media (min-width: 330px) {
    margin: 31px 0 22px;
  }

  @media (min-width: 768px) {
    margin: 20px 90px 52px 0;
  }

  @media (min-width: 1024px) {
    margin: 39px 31px 98px;
  }

  &::before {
    content: "";
    width: 26px;
    height: 20px;
    display: block;
    position: absolute;
    top: 2px;
    left: -41px;
    background-image: url("../../img/mail.svg");
    background-repeat: no-repeat;
  }
}

.footer__menu--phone {
  margin: 0 0 0 96px;

  @media (min-width: 330px) {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin: 20px 0 52px;
  }

  &::before {
    content: "";
    width: 22px;
    height: 24px;
    display: block;
    position: absolute;
    top: 0;
    left: -41px;
    background-image: url("../../img/phone.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: 1024px) {
    margin: 39px 0 98px;
  }
}
