.map {
  margin: 0 auto;
}

.map__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $heading;
  text-align: center;
  margin: 121px 0 20px;

  @media (min-width: 768px) {
    font-size: 24px;
    margin: 155px 0 20px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    margin: 250px 0 28px;
  }
}

.map__text {
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba($black, 0.7);
  padding: 0 16px;

  @media (min-width: 768px) {
    & br {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    max-width: 555px;
    margin: 0 auto 44px;
  }
}

.map__wrapper {
  width: 100%;
  min-height: 250px;

  @media (min-width: 768px) {
    min-height: 545px;
    padding: 0 35px;
  }

  @media (min-width: 1024px) {
    max-width: 957px;
    min-height: auto;
    max-height: 530px;
    margin: 0 auto;
    padding: 0;
  }
}

.map__wrapper iframe {
  width: 100%;
  min-height: 250px;

  @media (min-width: 768px) {
    min-height: 545px;
  }

  @media (min-width: 1024px) {
    min-height: 530px;
  }
}
