$white: #ffffff;
$grey: #f6f7f9;
$black: #000000;
$background-btn: #0ad9c6;
$background-video: #131314;
$input-text:#1c1c1c;
$heading: #1f1f1f;
$input-border: #c9ccd4;
$link: #48494d;
$hover: #0aa798;
$background-main-banner: #202020;
